Scraping Data from Website + Pandas Dataframe

In [15]:
from bs4 import BeautifulSoup
import requests

In [ ]:
# Define the URL of the Wikipedia page
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
# Set headers to identify the scraper (avoids being blocked)
headers = {
    "User-Agent": "EducationalScraper/1.0 (contact: your_email@example.com)"
}

page = requests.get(url,headers=headers) # Fetch the page content
soup = BeautifulSoup(page.text, 'html') # Parse the HTML content with BeautifulSoup

In [51]:
first_table = soup.find_all('table')[0]

In [52]:
# Get the first row headers
header_row = first_table.find("tr")
World_titles = header_row.find_all("th")

In [ ]:
# Extract clean text
World_table_titles = [ title.text.strip() for title in World_titles]
print(World_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [54]:
import pandas as pd

In [ ]:
# Create an empty DataFrame with the table headers
df = pd.DataFrame (columns = World_table_titles)

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [ ]:
# Get all rows of the table
column_data = first_table.find_all('tr')

In [ ]:
# Loop through table rows (skip header) and add data to DataFrame
for row in column_data [1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    #print(individual_row_data)
    
    length = len(df)
    df.loc [length] = individual_row_data

In [66]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"680,985",5.1%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"637,959",11.0%,"1,556,000","Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,"400,278",7.7%,"400,000","Minnetonka, Minnesota"
3,4,Apple,Technology,"391,035",2.0%,"164,000","Cupertino, California"
4,5,CVS Health,Healthcare,"372,809",4.2%,"259,500","Woonsocket, Rhode Island"
...,...,...,...,...,...,...,...
95,96,General Dynamics,Aerospace and defense,"47,716",12.9%,"117,000","Reston, Virginia"
96,97,Coca-Cola,Beverage,"47,061",2.9%,"69,700","Atlanta, Georgia"
97,98,TIAA,Financials,"46,946",2.6%,"15,623","New York City, New York"
98,99,Travelers,Insurance,"46,423",12.2%,"34,000","New York City, New York"
99,100,Eli Lilly,Pharmaceutical industry,"45,043",32.0%,"47,000","Indianapolis, Indiana"

In [ ]:
# Save the DataFrame to a CSV file
df.to_csv(r'C:\Users\name\Documents\Projects\Python\US_Companies.csv', index = False)